{% extends 'base.html' %}

{% block body %}

{% for value in data|slice:"::-1" %}
<div class="flex flex-col px-8 pb-8">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-6 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto">
                <table class="min-w-full border table-auto">
                    <thead class="border-2 bg-blue-200 ">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Sr No
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r border-r">
                                Description
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Finish
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Ref Image
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Width(mm)
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Height(mm)
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Size/Area
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                UQM
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                QTY
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Rate
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left border-r">
                                Ammount
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.srno}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.desc}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.finish}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                <img src="/media/{{value.refImg}}" alt="Customer Image" style="height: 150px;">

                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.width}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.height}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.area}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.uqm}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.qty}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.rate}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                {{value.amount}}
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <br>
                <button type="button" class="inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Print Report {{value.srno}}</button>

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock body %}